.mainMenu {
    left: 4px;
    right: 4px;
    height: 31px;
    padding: 1px 4px;
    background-color: #e8e8e8;
    z-index: 250;
}

/* .testIcon { */
	/* content: '<i class="fa fa-hourglass-half" aria-hidden="true"></i>'; */
/* } */